html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 8rem;
  line-height: 9rem;
  letter-spacing: 5px;
  color: #FFFFFF;
  margin: 0 0 25px 0;
}

h2 {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 8rem;
  line-height: 9rem;
  letter-spacing: 5px;
  margin: 0 0 25px 0;
}

h3 {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.5rem;
  letter-spacing: 5px;
  color: #030303;
}

h4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.3rem;
  color: #030303;
}

.welcome__button {
  width: 360px;
  height: 75px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.6rem;
  letter-spacing: 2px;
  color: #FFFFFF;
  background-color: #710707;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.welcome__button:hover {
  background-color: #9d8665;
}

.video__button {
  width: 220px;
  height: 220px;
  position: absolute;
  top: 29%;
  left: 42.5%;
  border: none;
  background-color: transparent;
  background-image: url(../../../museum/assets/icons/video-button.svg);
  background-size: 100%;
  cursor: pointer;
}

.button-play {
  width: 23px;
  height: 31px;
  background-color: transparent;
  background-image: url(../../../museum/assets/icons/play-icon.svg);
  border: none;
  background-size: 100%;
  cursor: pointer;
}

.button-volume {
  width: 38px;
  height: 31px;
  background-color: transparent;
  background-image: url(../../../museum/assets/icons/volume.svg);
  border: none;
  background-size: 100%;
  cursor: pointer;
}

.button-screen {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: url(../../../museum/assets/icons/full-screen.svg);
  border: none;
  background-size: 100%;
  cursor: pointer;
}

.button-youtube {
  width: 68px;
  height: 48px;
  position: absolute;
  top: 40%;
  left: 42.5%;
  background-color: transparent;
  background-image: url(../../../museum/assets/icons/youtube-icon.svg);
  background-size: 100%;
  border: none;
  cursor: pointer;
}

.button-buy {
  width: 175px;
  height: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.6rem;
  letter-spacing: 2px;
  background-color: #030303;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.button-minus,
.button-plus {
  width: 50px;
  height: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.8rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.title_underlined {
  position: relative;
}

.title_underlined::after {
  content: "";
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #710707;
}

.title_golden {
  color: #9d8665;
}

.virtual-card__title {
  position: relative;
  margin: 25px 0 0 0;
}

.virtual-card__title:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -10px;
  width: 68%;
  height: 3px;
  background-color: #710707;
}

.title_light {
  color: #FFFFFF;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: #030303;
  padding: 59px 0 58px;
}

.header__wrapper {
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 25px;
}

.logo__text {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.1rem;
  letter-spacing: 5px;
  color: #FFFFFF;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation li a {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 2.2rem;
  line-height: 2.6rem;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin-left: 56px;
  transition: all ease-in-out 0.5s;
}

.navigation li a:hover {
  color: #9d8665;
}

footer {
  background-color: #030303;
}

.footer__upper {
  padding: 78px 0 41px;
  border-bottom: 3px solid #9d8665;
}

.upper__wrapper {
  display: flex;
  justify-content: space-between;
}

.upper__basics {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.upper__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 25px;
  margin-top: 5px;
  padding: 0;
}

.upper__links-first {
  padding-right: 30px;
}

.upper__links li a {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 2.2rem;
  line-height: 2.6rem;
  letter-spacing: 2px;
  color: #FFFFFF;
  transition: all ease-in-out 0.5s;
}

.upper__links li a:hover {
  color: #9d8665;
}

.upper__icons {
  display: flex;
  align-items: flex-end;
}

.social-icons {
  width: 340px;
  height: 48px;
  display: flex;
  gap: 25px;
  padding: 0;
  margin-bottom: 15px;
}

.footer__lower {
  padding: 49px 0;
}

.lower__wrapper {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 2.2rem;
  line-height: 2.2rem;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.lower__wrapper a {
  text-decoration: none;
  color: #FFFFFF;
}

.welcome {
  background-color: #030303;
}

.welcome__wrapper {
  position: relative;
  display: flex;
}

.welcome__info {
  width: 598px;
  position: absolute;
  top: 150px;
  left: 0;
}

.welcome__info p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 3.3rem;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 75px;
  color: #FFFFFF;
}

.welcome__slider {
  margin-left: 440px;
  padding-bottom: 59px;
}

.slider-pagination {
  width: 600px;
  height: 120px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 39px 75px 41px;
  background-color: #030303;
}

.slider-pagination__counter {
  width: 76px;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 4rem;
  color: #FFFFFF;
}

.slider-pagination__dots {
  width: 180px;
  display: flex;
  gap: 25px;
}

.dot {
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
}

.dot_active {
  background-color: #9d8665;
}

.arrow-right {
  margin-left: 20px;
}

.virtual-tour {
  padding: 75px 0;
}

.virtual-tour__cards {
  display: flex;
  flex-basis: 440px;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 75px;
}

.title_golden {
  margin-bottom: 100px;
}

.virtual-card img {
  width: 440px;
  height: 285px;
}

.vt {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: #030303;
  margin: 20px 0 10px;
}

.google {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #030303;
  margin: 0;
}

.explore {
  padding: 75px 0;
  background: #030303;
}

.explore__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.explore__text p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 3.8rem;
  color: #FFFFFF;
  margin: 0 0 26px 0;
}

.explore__text {
  width: 660px;
}

.explore__text h2 {
  margin-bottom: 102px;
}

.explore__text span {
  color: #9d8665;
}

.explore__image {
  padding-top: 15px;
}

.video {
  padding: 75px 0;
}

.video__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}

.video__text h2 {
  margin: 0;
}

.video__text p {
  width: 720px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 3.8rem;
  color: #030303;
  margin: 0;
}

.video__player {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 40px;
}

.video__controllers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 27px 28px 27px 30px;
  background-color: #030303;
}

.progress-bar {
  -webkit-appearance: none;
  width: 930px;
  height: 8px;
  background: #C4C4C4;
  background-image: linear-gradient(#710707, #710707);
  background-size: 40% 100%;
  background-repeat: no-repeat;
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: ew-resize;
}

.progress-bar::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.volume-bar {
  -webkit-appearance: none;
  width: 155px;
  height: 8px;
  background: #C4C4C4;
  background-image: linear-gradient(#710707, #710707);
  background-size: 40% 100%;
  background-repeat: no-repeat;
}

.volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: ew-resize;
}

.volume-bar::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.video__gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

.video-item {
  position: relative;
}

.video__pagination {
  width: 200px;
  height: 12px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  margin: 0 auto;
}

.brackets-left {
  width: 10px;
  height: 12px;
  background-color: transparent;
  background-image: url(../../../museum/assets/icons/brackets-left.svg);
  background-size: 100%;
}

.brackets-right {
  width: 10px;
  height: 12px;
  background-color: transparent;
  background-image: url(../../../museum/assets/icons/brackets-right.svg);
  background-size: 100%;
}

.video-dot {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: #999999;
}

.video-dot_active {
  background-color: #333333;
}

.gallery {
  padding: 75px 0 0 0;
  background-color: #030303;
}

.gallery h2 {
  margin-bottom: 75px;
}

.gallery__images {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 456px;
  column-gap: 36px;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.column img {
  width: 100%;
}

.column-one,
.column-three {
  padding-top: 50px;
}

.gallery__overlay {
  width: 1440px;
  height: 360px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.tickets {
  padding: 75px 0;
  background-color: #FFFFFF;
}

.tickets__order {
  display: flex;
  justify-content: space-between;
}

.tickets__image {
  width: 720px;
  height: 550px;
}

.tickets__image img {
  width: 100%;
  height: 100%;
}

.tickets__types {
  width: 270px;
  height: 211px;
}

.tickets__types input {
  width: 17px;
  height: 17px;
  border: 2px solid #030303;
  margin: 0;
}

.types__title {
  margin: 0 0 50px;
}

.radio-group {
  margin-bottom: 15px;
}

label,
.tickets__amount p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: #030303;
  margin: 0 0 15px;
}

label {
  padding-left: 20px;
}

.amount__title {
  margin: 0 0 25px;
}

.counter {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 3px solid #030303;
}

.counter input {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.6rem;
  text-align: center;
  color: #030303;
  outline: none;
  border: none;
}

.total {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.3rem;
  letter-spacing: 1.65px;
  color: #030303;
  margin: 0 0 60px;
}

.counter-basic {
  margin-bottom: 10px;
}

.counter-senior {
  margin-bottom: 50px;
}

.tickets__amount {
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.panorama__wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.panorama img {
  width: 100%;
  height: auto;
}

.contacts {
  padding: 75px 0;
}

.contacts__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts h2 {
  margin-bottom: 100px;
}

.contacts__info {
  width: 282px;
}

.info__title {
  margin: 0 0 50px;
}

.contacts__info p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: #030303;
  margin: 0 0 25px;
}
/*# sourceMappingURL=style.css.map */