$color-dark: #030303;
$color-light: #FFFFFF;
$color-red: #710707;
$color-gold: #9d8665;
$color-grey: #C4C4C4;
$color-dot: #999999;
$color-dot-active: #333333;

$content-width: 1440px;

$tablet-width: 768px;
$mobile-bg-width: 414px;
$mobile-sm-width: 320px;