html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

h1 {
    @extend %font-add;
    @include font(8rem, 9rem, 400);
    letter-spacing: 5px;
    color: $color-light;
    margin: 0 0 25px 0;
}
h2 {
    @extend %font-add;
    @include font(8rem, 9rem, 400);
    letter-spacing: 5px;
    margin: 0 0 25px 0;
}
h3 {
    @extend %font-add;
    @include font(3.2rem, 3.5rem, 400);
    letter-spacing: 5px;
    color: $color-dark;
}
h4 {
    @extend %font-main;
    @include font(2.8rem, 3.3rem, 700);
    color: $color-dark;
}