html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 10px;
}
* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 8rem;
    line-height: 9rem;
    letter-spacing: 5px;
    color: $color-light;
    margin: 0 0 25px 0;
}
h2 {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 8rem;
    line-height: 9rem;
    letter-spacing: 5px;
}
h3 {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.5rem;
    letter-spacing: 5px;
    color: $color-dark;
}