.welcome__button {
    width: 360px;
    height: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 2.6rem;
    letter-spacing: 2px;
    color: $color-light;
    background-color: $color-red;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;

    &:hover {
        background-color: $color-gold;
    }
}
.video__button {
    width: 220px;
    height: 220px;
    position: absolute;
    top: 29%;
    left: 42.5%;
    border: none;
    background-color: transparent;
    background-image: url(../../../museum/assets/icons/video_button.svg);
    background-size: 100% 100%;
    cursor: pointer;
}
.button-play {
    width: 23px;
    height: 31px;
    background-color: transparent;
    background-image: url(../../../museum/assets/icons/play_icon.svg);
    border: none;
    background-size: 100% 100%;
    cursor: pointer;
}
.button-volume {
    width: 38px;
    height: 31px;
    background-color: transparent;
    background-image: url(../../../museum/assets/icons/volume.svg);
    border: none;
    background-size: 100% 100%;
    cursor: pointer;
}
.button-screen {
    width: 35px;
    height: 35px;
    background-color: transparent;
    background-image: url(../../../museum/assets/icons/full_screen.svg);
    border: none;
    background-size: 100% 100%;
    cursor: pointer;
}
.button-youtube {
    width: 68px;
    height: 48px;
    position: absolute;
    top: 40%;
    left: 42.5%;
    background-color: transparent;
    background-image: url(../../../museum/assets/icons/youtube_icon.svg);
    background-size: 100%;
    border: none;
    cursor: pointer;
}
.button-buy {
    width: 175px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 2.6rem;
    letter-spacing: 2px;
    background-color: $color-dark;
    color: $color-light;
    border: none;
    cursor: pointer;
}
.button-minus,
.button-plus {
    width: 50px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.8rem;
    border: none;
    background-color: transparent;
}