.welcome__button {
    width: 360px;
    height: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 2.6rem;
    letter-spacing: 2px;
    color: $color-light;
    background-color: $color-red;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;

    &:hover {
        background-color: $color-gold;
    }
}