.title_underlined {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -27px;
        display: block;
        width: 100%;
        height: 3px;
        background-color: $color-red;
    }
}
.title_golden {
   color: $color-gold;
}
.virtual-card__title {
    position: relative;
    margin: 25px 0 0 0;

    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: -10px;
        width: 68%;
        height: 3px;
        background-color: $color-red;
    }
}
.title_light {
    color: $color-light;
}