.contacts__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.contacts {
    h2 {
        margin-bottom: 102px;
    }
}
.contacts__info {
    width: 19.58%;
}
.info__title {
    margin: 0 0 50px;
}
.contacts__info {
    p {
        @extend %font-main;
        @include font(2.2rem, 2.6rem, 300);
        color: $color-dark;
        margin: 0 0 25px;
    }
}
.map {
    width: 66.66%;

    img {
        width: 100%;
    }
}