.explore {
    padding: 75px 0;
    background: $color-dark;
}
.explore__text p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 3.8rem;
    color: $color-light;
    margin: 0 0 26px 0;
}
.explore__text {
    width: 660px;
}
.explore__text h2 {
    margin-bottom: 102px;
}
.explore__image {
    padding-top: 15px;
}