.explore {
    padding: 75px 0;
    background: $color-dark;
}
.explore__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.explore__text {
    width: 660px;
    h2 {
        margin-bottom: 102px;
    }
    span {
        color: $color-gold;
    } 
    p {
        @extend %font-main;
        @include font(2.2rem, 3.8rem, 300);
        color: $color-light;
        margin: 0 0 26px;
    }  
}
.explore__image {
    padding-top: 15px;
}