.explore {
    background: $color-dark;
}
.explore__text {
    width: 45.8%;
    
    h2 {
        margin-bottom: 102px;
    }
    span {
        color: $color-gold;
    } 
    p {
        @extend %font-main;
        @include font(2.2rem, 3.8rem, 300);
        color: $color-light;
        margin: 0 0 26px;
    }  
}
.explore__image {
    width: 50%;
    padding-top: 15px;
   

    img {
        width: 100%;
    }
}