.navigation {
    display: flex;
    list-style: none;
    @extend %font-main;
    @include font(2.2rem, 2.6rem, 100);
    letter-spacing: 2px;
}
.navigation__link {
    text-decoration: none;
    color: $color-light;
    margin-left: 56px;
    @extend %transition;

    &:hover {
        color: $color-gold;
    }
}