.tickets {
    padding: 75px 0;
    background-color: $color-light;
}
.tickets__title {
    margin-bottom: 102px;
}
.tickets__order {
    display: flex;
    justify-content: space-between;
}
.tickets__image {
    width: 720px;
    height: 550px;

    img {
        width: 100%;
        height: 100%;
    }
}
.tickets__types {
    width: 270px;
    height: 211px;

    input {
        width: 17px;
        height: 17px;
        border: 2px solid $color-dark;
        margin: 0;
    }
}
.types__title {
    margin: 0 0 50px;
}
.radio-group {
    margin-bottom: 15px;
}
.tickets__amount {
    p {
        @extend %font-main;
        @include font(2.2rem, 2.6rem, 300);
        color: $color-dark;
        margin: 0 0 15px;
    }   
}
label {
    @extend %font-main;
    @include font(2.2rem, 2.6rem, 300);
    color: $color-dark;
    margin: 0 0 15px;
    padding-left: 20px;
}
.tickets__amount {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.amount__title {
    margin: 0 0 25px;
}
.counter {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    border: 3px solid $color-dark;

    input {
        @extend %font-main;
        @include font(2.2rem, 2.6rem, 300);
        text-align: center;
        color: $color-dark;
        outline: none;
        border: none;
    }
}
.total {
    @extend %font-main;
    @include font(2.8rem, 3.3rem, 700);
    letter-spacing: 1.65px;
    color: $color-dark;
    margin: 0 0 60px;
}
.counter-basic {
    margin-bottom: 10px;
}
.counter-senior {
    margin-bottom: 50px;
}
