.video {
    padding: 75px 0;
}
.video__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}
.video__text h2 {
    margin: 0;
}
.video__text p {
    width: 720px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 3.8rem;
    color: $color-dark;
    margin: 0;
}

.video__controllers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 27px 28px 27px 30px;
    background-color: $color-dark;
}
.progress-bar {
    -webkit-appearance: none;
    width: 930px;
    height: 8px;
    background: $color-grey;
    background-image: linear-gradient($color-red, $color-red);
    background-size: 40% 100%;
    background-repeat: no-repeat;
}
.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: $color-light;
    cursor: ew-resize;
}
.progress-bar::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
.volume-bar {
    -webkit-appearance: none;
    width: 155px;
    height: 8px;
    background: $color-grey;
    background-image: linear-gradient($color-red, $color-red);
    background-size: 40% 100%;
    background-repeat: no-repeat;
}
.volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: $color-light;
    cursor: ew-resize;
}
.volume-bar::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
.video__player {
    margin-bottom: 40px;
}
.video__gallery {
    display: flex;
    justify-content: space-between;
}