.video__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;

    h2 {
        margin: 0;
    }

    p {
        width: 50%;
        @extend %font-main;
        @include font(2.2rem, 3.8rem, 300);
        color: $color-dark;
        margin: 0;
    }
}
.video__player {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 40px;
}
.video__controllers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 28px 25px 30px;
    background-color: $color-dark;
}
.progress-bar {
    -webkit-appearance: none;
    width: 67.3%;
    height: 8px;
    background: $color-grey;
    background-image: linear-gradient($color-red, $color-red);
    background-size: 40% 100%;
    background-repeat: no-repeat;
}
.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: $color-light;
    cursor: ew-resize;
}
.progress-bar::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
.volume-bar {
    -webkit-appearance: none;
    width: 11.2%;
    height: 8px;
    background: $color-grey;
    background-image: linear-gradient($color-red, $color-red);
    background-size: 40% 100%;
    background-repeat: no-repeat;
}
.volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: $color-light;
    cursor: ew-resize;
}
.volume-bar::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
.video__gallery {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}
.video-item {
    width: 31.4%;
    position: relative;

    img {
        width: 100%;
    }
}
.video__pagination {
    width: 200px;
    height: 12px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin: 0 auto;
}
.brackets-left {
    width: 10px;
    height: 12px;
    background-color: transparent;
    background-image: url("../assets/icons/brackets-left.svg");
    background-size: 100%;
}
.brackets-right {
    width: 10px;
    height: 12px;
    background-color: transparent;
    background-image: url("../assets/icons/brackets-right.svg");
    background-size: 100%;
}
.video-dot {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    background-color: $color-dot;
}
.video-dot_active {
    background-color: $color-dot-active;
}