.virtual-tour {
    padding: 75px 0;
}
.virtual-tour__cards {
    display: flex;
    flex-basis: 440px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 75px;
}
.title_golden {
    margin-bottom: 100px;
}
.virtual-card img {
    width: 440px;
    height: 285px;
}
.vt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 2.2rem;
    line-height: 2.6rem;
    color: $color-dark;
    margin: 20px 0 10px;
}
.google {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: $color-dark;
    margin: 0;
}