.virtual-tour {
    padding: 75px 0;
}
.virtual-tour__cards {
    display: flex;
    flex-basis: 440px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 75px;
}
.virtual__title {
    margin-bottom: 102px;
}
.virtual-card {
    width: 440px;
    height: 424px;

    img {
        width: 100%;
        height: auto;
    }

    .vt {
        @extend %font-main;
        @include font(2.2rem, 2.6rem, 100);
        color: $color-dark;
        margin: 20px 0 10px;
    }

    .google {
        @extend %font-main;
        @include font(1.8rem, 2.1rem, 100);
        color: $color-dark;
        margin: 0;
    }

}
