.welcome {
    background-color: $color-dark;
}
.welcome__wrapper {
    position: relative;
    display: flex;
    padding-top: 150px;
    padding-bottom: 272px;
    background-image: url(../assets/images/general/welcome_liza.jpg), linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 69.4%;
   
}
.welcome__info {
    width: 41.5%;

    p {
        @extend %font-main;
        @include font(2.8rem, 3.3rem, 300);
        letter-spacing: 2px;
        margin-top: 0;
        margin-bottom: 75px;
        color: $color-light;
    }
}
.slider-pagination {
    width: 600px;
    height: 120px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 39px 75px 41px;
    background-color: $color-dark;
}
.slider-pagination__counter {
    width: 76px;
    display: flex;
    justify-content: space-between;
    @extend %font-main;
    @include font(2.2rem, 4rem, 400);
    color: $color-light;
}
.slider-pagination__dots {
    width: 180px;
    display: flex;
    gap: 25px;
}
.dot {
    width: 16px;
    height: 16px;
    background-color: $color-light;
}
.dot_active {
    background-color: $color-gold;
}
.arrow-right {
    margin-left: 20px;
}