.welcome {
    background-color: $color-dark;
}
.welcome__wrapper {
    display: flex;
}
.welcome__info {
    // min-width: 598px;
    padding: 150px 0 272px;
}

.welcome__info p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 3.3rem;
    letter-spacing: 2px;
    color: $color-light;
}