.welcome {
    background-color: $color-dark;
}
.welcome__wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 114px 0 246px;
    background-image: url(../assets/images/general/louvre_bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 84.3%;
 
}
.welcome__info {
    max-width: 600px;

    p {
        @extend %font-main;
        @include font(2.8rem, 3.3rem, 300);
        letter-spacing: 2px;
        margin-top: 0;
        margin-bottom: 75px;
        color: $color-light;
    }
}
