footer {
    background-color: $color-dark;
}
.footer__upper {
    padding: 80px 0 41px;
    border-bottom: 3px solid $color-gold;
}
.upper__wrapper {
    display: flex;
    justify-content: space-between;
}
.upper__basics {
    width: 48.6%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .logo {
        padding-top: 4px;
    }
}
.upper__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 25px;
    margin-top: 5px;
    padding: 0;

    li {
        a {
            text-decoration: none;
            @extend %font-main;
            @include font(2.2rem, 2.6rem, 100);
            letter-spacing: 2px;
            color: $color-light;
            @extend %transition;

            &:hover {
                color: $color-gold;
            }
        }
    }
}
.upper__links-first {
    padding-right: 30px;
}
.upper__icons {
    display: flex;
    align-items: flex-end;
}
.social-icons {
    width: 23.6%;
    height: 48px;
    display: flex;
    gap: 25px;
    padding: 0;
    margin-bottom: 15px;
}
.footer__lower {
    padding: 49px 0;
}
.lower__wrapper {
    display: flex;
    justify-content: space-between;
    @extend %font-main;
    @include font(2.2rem, 2.2rem, 100);
    letter-spacing: 2px;
    color: $color-light;

    a {
        text-decoration: none;
        color: $color-light;
    }

    .school {
        display: block;
        padding-left: 15px;
    }
}
